<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true">

  <extensions>
    <add assembly="NLogEvents" />
  </extensions>

  <targets async="true">
    <!--
      Logs sent to this target will trigger `NLogEvents.Events.OnLog` event. The optional attribute
      `event` specifies the value of the first argument of the event. See Example.cs for how to use
      subscribe to `NLogEvents.Events.OnLog`.

      You must have NLog.Events.dll in the same directory as NLog.dll for `OnLogEvent` target type
      to work. The simplest way to achieve this is by adding a nuget dependency on NLog.Events.
    -->
    <target name="event" xsi:type="OnLogEvent" event="My" />
    <target name="console" xsi:type="ColoredConsole" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="event,console" />
  </rules>

</nlog>
