<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.5.3" targetFramework="net461" />
  <package id="NLog.Config" version="4.5.3" targetFramework="net461" />
  <package id="NLog.Events" version="0.1.6696.17810" targetFramework="net461" />
  <package id="NLog.Schema" version="4.5.3" targetFramework="net461" />
</packages>